.settings
.project
**/.settings
**/.classpath
**/.eclipse
**/.project
**/target
*.iml
.idea/
target
**/*.pyc
**/*.log

.DS_Store
jisong_sender/log/app.log
jisong_admin/log/app.log
jisong_customer/log/app.log
jisong.tar
jisong.tar.gz
/.metadata
/jisong_admin/log
/jisong_admin/.project
